/* Custom */

body{
	width: 100%; height: 100%;
	padding: 0px; margin: 0px;
}

.container{
	width: 100%; height: 100%;
	padding: 0px; margin: 0px;
	display: grid;
	grid-template-columns: 120px 1fr 120px;
	grid-template-rows: 40px 1fr 40px;
}

.header{
	padding: 0.5rem; margin: 0px;
	background-color: gainsboro;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	text-align: center;
}

.nav{
	padding: 0.5rem; margin: 0px;
	background-color: whitesmoke;
	grid-column-start: 1;
	grid-column-end: auto;
	grid-row-start: 2;
	grid-row-end: auto;
}

.main{
	padding: 0.5rem; margin: 0px;
	background-color: white;
	grid-column-start: 2;
	grid-column-end: auto;
	grid-row-start: 2;
	grid-row-end: auto;
}

.aside{
	padding: 0.5rem; margin: 0px;
	background-color: whitesmoke;
	grid-column-start: 3;
	grid-column-end: auto;
	grid-row-start: 2;
	grid-row-end: auto;
}

.footer{
	padding: 0.5rem; margin: 0px;
	background-color: gainsboro;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: auto;
	text-align: center;
}

hr {
	background-color: #fff;
	border-top: 2px dotted lightgray;
}