<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8">
	<title><%=title %></title>
	<link type="text/css" rel="stylesheet" href="./css/style.css">
</head>
<body>
	<ul>
		<li><a href="./">Index <-</a></li>
		<li><a href="./other">Other</a></li>
	</ul>
	<h1><%=content %></h1>
</body>
</html>