<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8">
	<title><%=title %></title>
	<link type="text/css" rel="stylesheet" href="./css/custom.css">
	<!-- Framework -->
	<script language="javascript" type="text/javascript" 
	src="./js/p5/p5.js"></script>
	<script language="javascript" type="text/javascript" 
	src="./js/p5/p5.sound.js"></script>
	<script language="javascript" type="text/javascript" 
	src="./js/p5/p5.play.js"></script>
	<script language="javascript" type="text/javascript" 
	src="./js/p5/p5.dom.js"></script>
	<!-- JQuery -->
	<script src="./js/jquery/jquery.min.js"></script>
	<!-- Custom -->
	<script src="./js/sketch.js"></script>
</head>
<body>
	<p><%=title %></p>
	<p><%=content %></p>
	<ul>
		<li><a href="/">Root</a></li>
		<li><a href="/client">WebSocket(Client)</a></li>
		<li><a href="/javascript">WebSocket(JavaScript)</a></li>
	</ul>
	<div>
		<p>
			<button class="bShow" msg="sitting.fbx">Act</button>
			<button class="bShow" msg="sittotype.fbx">Act</button>
			<button class="bShow" msg="typetosit.fbx">Act</button>
			<button class="bShow" msg="typing.fbx">Act</button>
		</p>
		<p>
			<button class="bShow" msg="breakdance.fbx">Act</button>
			<button class="bShow" msg="dancing.fbx">Act</button>
			<button class="bShow" msg="rumba.fbx">Act</button>
			<button class="bShow" msg="salsa.fbx">Act</button>
			<button class="bShow" msg="twist.fbx">Act</button>
		</p>
		<p>
			<button class="bShow" msg="bored_1.fbx">Act</button>
			<button class="bShow" msg="bored_2.fbx">Act</button>
			<button class="bShow" msg="breathing.fbx">Act</button>
			<button class="bShow" msg="holding.fbx">Act</button>
			<button class="bShow" msg="sad.fbx">Act</button>
			<button class="bShow" msg="standing.fbx">Act</button>
		</p>
		<p>
			<button class="bShow" msg="angry.fbx">Act</button>
			<button class="bShow" msg="bow_1.fbx">Act</button>
			<button class="bShow" msg="bow_2.fbx">Act</button>
			<button class="bShow" msg="button.fbx">Act</button>
			<button class="bShow" msg="happy.fbx">Act</button>
			<button class="bShow" msg="jump.fbx">Act</button>
			<br/>
			<button class="bShow" msg="lookingaround.fbx">Act</button>
			<button class="bShow" msg="shocking.fbx">Act</button>
			<button class="bShow" msg="standup.fbx">Act</button>
			<button class="bShow" msg="terrible_1.fbx">Act</button>
			<button class="bShow" msg="terrible_2.fbx">Act</button>
			<button class="bShow" msg="yelling.fbx">Act</button>
		</p>
	</div>
</body>
</html>