<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8">
	<title><%=title %></title>
	<link type="text/css" rel="stylesheet" href="./css/custom.css">
	<!-- Framework -->
	<script language="javascript" type="text/javascript" 
	src="./js/p5/p5.js"></script>
	<script language="javascript" type="text/javascript" 
	src="./js/p5/p5.sound.js"></script>
	<script language="javascript" type="text/javascript" 
	src="./js/p5/p5.play.js"></script>
	<script language="javascript" type="text/javascript" 
	src="./js/p5/p5.dom.js"></script>
	<!-- JQuery -->
	<script src="./js/jquery/jquery.min.js"></script>
	<!-- Custom -->
	<script src="./js/sketch.js"></script>
</head>
<body>
	<p><%=title %></p>
	<p><%=content %></p>
	<ul>
		<li><a href="/">Root</a></li>
		<li><a href="/client">WebSocket(Client)</a></li>
		<li><a href="/javascript">WebSocket(JavaScript)</a></li>
	</ul>
</body>
</html>