/* Custom */

body{
	width: 100%; height: 100%;
	padding:0; margin:0; overflow:hidden;
}

.label{
	margin: 0px; padding: 0px;
	font-size: 0.5rem; font-weight: bold;
	text-align: center; text-decoration: none;
	line-height: 1.1rem; color: #ffffff;
}

#st_wrapper{
	width: 100%; height: auto;
	margin: auto; padding: 0px;
	position: absolute; bottom: 0px;
	text-align: center;
}

#st_params{
	width: auto; height: auto;
	margin: auto; padding: 10px;
	display: inline;
	font: 2.0em "MisakiGothic";
	color: #ffffff; background: #333333;
}