<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>TODO</title>
		<link rel="stylesheet" href="css/normalize.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<h1>TODO</h1>
			<p>
				<button v-on:click="switchTodos">Change</button>
			</p>
			<p>
				TODOリスト done:{{ done }}
			</p>
			<ul v-for="todo in getTodos" v-bind:key="todo.id">
				<li>
					{{ todo.id }}_{{ todo.title }}_{{ todo.date }}
					<button v-on:click="toggleTodo(todo.id)">Toggle</button>
					<button v-on:click="removeTodo(todo.id)">Remove</button>
				</li>
			</ul>
			<p>
				TODO追加 title:{{ title }}
			</p>
			<input type="text" v-model="title"/>
			<button v-on:click="pushTodo">Push</button>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<script src="script.js"></script>
	</body>
</html>
