<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Weather</title>
		<link rel="stylesheet" href="css/normalize.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<h1>Weather</h1>
			<p>
				天気情報を取得します
			</p>
			<p>
				<button v-on:click="connect">Connect</button>
			</p>
			<div v-for="item in items" v-bind:key="item.area.name">
				{{ item.area.name }}<br/>
				<ul>
					<li v-for="weather in item.weathers">{{ weather }}</li>
				</ul>
				<ul>
					<li v-for="code in item.weatherCodes">{{ code }}</li>
				</ul>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<script src="script.js"></script>
	</body>
</html>
