<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8">
	<title><%=title %></title>
	<link type="text/css" rel="stylesheet" href="./css/custom.css">
	<!-- JQuery -->
	<script src="./js/jquery/jquery.min.js"></script>
	<!-- Custom -->
	<script src="./js/custom_chat.js"></script>
</head>
<body>
	<p><%=title %></p>
	<p><%=content %></p>

	<%-include("table_items", data) %>

	<ul>
		<li><a href="/">Root</a></li>
		<li><a href="/chat">Chat</a></li>
	</ul>

	<input id="myInput" type="text" value="This is test!!"/>
	<button id="myBtn">Send</button>
	<table id="myTable"></table>
</body>
</html>