/* Stylesheet */
body{
	margin: 0px; padding: 0px;
	background-color: #333333;
}

#my_canvas{
	margin: 0px; padding: 0px;
	top: 0px; left: 0px;
	position: absolute;
	pointer-events: none;
}

fieldset{
	margin: 10px; padding: 0px;
	top: 0px; right: 0px;
	position: absolute;
	border: none;
}