<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Hello Vue.js x UIkit!!</title>
	<!-- CSS -->
	<link rel="shortcut icon" href="./system/images/favicon.ico"> 
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/css/uikit.min.css"/>
	<link rel="stylesheet" href="./system/css/custom.css"/>
</head>
<body>
	<div class="container" id="app">
		<header class="header">header</header>
		<main class="main" id="screen">
			<div class="talk">
				<div class="talk_right" v-for="(log, id) in txLogs" v-if="log.youFlg==true">
					<p>{{log.text}}</p>
				</div>
				<div class="talk_left" v-else>
					<img src="./system/images/icon01.png" v-if="tnBase64==''">
					<img v-bind:src="tnBase64" v-else>
					<div class="talk_box">
						<div class="talk_name">{{log.name}}</div>
						<p>{{log.text}}</p>
					</div>
				</div>
			</div>
		</main>
		<aside class="aside">
			<form>
				<fieldset class="uk-fieldset">
					<legend class="uk-legend">Legend</legend>
					<div class="uk-margin">
						<input class="uk-input" type="text" placeholder="Name" v-model="txInput">
					</div>
					<div class="uk-margin">
						<div uk-form-custom="target: true">
							アイコン:
							<input type="file" v-on:change="createThumbnail">
							<input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
						</div>
					</div>
					<div class="uk-margin" v-if="msgErrIcon">
						<span class="uk-label uk-label-warning">png/jpeg/gifファイルを使用できます</span>
					</div>
					<div class="uk-margin">
						<div uk-form-custom="target: true">
							エクセル:
							<input type="file" v-on:change="loadXLSX">
							<input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
						</div>
					</div>
					<div class="uk-margin" v-if="msgErrXLSX">
						<span class="uk-label uk-label-warning">xlsxファイルを使用できます</span>
					</div>
					<div class="uk-margin">
						<textarea class="uk-textarea" rows="5" placeholder="Text" v-model="txArea"></textarea>
					</div>
					<p uk-margin>
						<button class="uk-button uk-button-default" v-on:click="createScreenshot">Screenshot</button>
					</p>
				</fieldset>
			</form>
		</aside>
		<nav class="nav">nav</nav>
		<footer class="footer">footer</footer>
	</div>
	<!-- JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit.min.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit-icons.min.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/shim.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js" defer></script>
	<script src="./system/js/main.js" defer></script>
</body>
</html>