<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8">
	<title><%=title %></title>
	<link type="text/css" rel="stylesheet" href="./css/custom.css">
</head>
<body>
	<p><%=title %></p>
	<p><%=content %></p>
	<ul>
		<li><a href="/">Root</a></li>
		<li><a href="/client">WebSocket(Client)</a></li>
		<li><a href="/javascript">WebSocket(JavaScript)</a></li>
	</ul>
</body>
</html>