<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hello World!!</title>
	<link rel="stylesheet" href="../styles/common.css">
</head>
<body>
	<div id="root">
		<div id="stage"></div>
		<div id="handle"></div>
	</div>
	<!-- Three.js -->
	<script src="../app/libs/three-js/three.min.js" defer></script>
	<script src="../app/libs/utilities/libs/stats.min.js" defer></script>
	<script src="../app/libs/utilities/libs/inflate.min.js" defer></script>
	<script src="../app/libs/utilities/controls/TrackballControls.js" defer></script>
	<script src="../app/libs/utilities/renderers/Projector.js" defer></script>
	<script src="../app/libs/utilities/loaders/FBXLoader.js" defer></script>
	<script src="../app/libs/utilities/WebGL.js" defer></script>
	<script src="../app/libs/tween-js/Tween.js" defer></script>
	<!-- jQuery -->
	<script src="../app/libs/jquery/jquery.min.js" defer></script>
	<script src="../app/js/utility.js" defer defer></script>
	<script src="../app/js/app.js" defer></script>
</body>
</html>