<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8">
	<title><%=title %></title>
	<link type="text/css" rel="stylesheet" href="./css/custom.css">
	<script src="/jquery"></script>
</head>
<body>
	<!-- WebGazer -->
	<!-- <script src="./lib_files/webgazer/webgazer.js"></script> -->
	<!-- <script src="./js/custom.js"></script> -->
</body>
</html>