/* custom.css */

body{
	margin: 0px; padding: 0px;
	background-color: #333333;
	color: #ffffff;
}

#canvas{
	margin: 0px; padding: 0px;
	width:320px; height: 480px;
	background-color: #333333;
	color: #ffffff;
}